{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}Archive{% endblock title %}
{% block content %}
    <!--面包导航-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-white border-0 rounded-0 mb-2 py-2 f-15">
            <li class="breadcrumb-item">
                <i class="fa fa-home mr-1"></i><a href="/">首页</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ url_for('blog.archive') }}">归档</a>
            </li>
        </ol>
    </nav>
    <!--end-->
    <div class="card border-0 rounded-0 mb-3">
        <div class="card-body f-16 archive">
            {% for tag in time_tag %}
                <ul class="pl-4">
                    <li>{{ tag.name }}
                        <ul class="pl-4">
                            {% for a in tag.articles %}
                                <li class="text-info">{{ a.timestamp.strftime("%m-%d") }}&nbsp;&nbsp;<a
                                        href="{{ url_for('.show_post', post_id=a.id) }}">{{ a.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            {% endfor %}
        </div>
    </div>
{% endblock content %}